[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
matplotlib = "*"
scikit-image = "*"
scikit-learn = "*"
imblearn = "*"
tqdm = "*"
keras-unet = "*"
keras = "*"
tensorflow = "*"
kutils = "*"

[dev-packages]

[requires]
python_version = "3.10"
